# Ignore all .env files in every subdirectory
**/.env

# Specific service secrets (if any)
ordering/.env
inventory/.env
pricing/.env

# Ignore compiled binaries (the "Ignition" builds)
/ordering/cmd/ordering
/inventory/cmd/inventory
/robots/cmd/robots
/pricing/cmd/pricing
/analytics/cmd/analytics

# OS files
.DS_Store